/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

/* Layout */
.app-container {
  display: flex;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid #374151;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-item:hover {
  background-color: #374151;
}

.menu-item.active {
  background-color: #4b5563;
}

.menu {
  flex: 1; /* pushes footer down */
}

.sidebar-footer {
  padding: 20px;
  text-align: center;
}

.sidebar-footer img {
  max-width: 95%;
  height: auto;
  opacity: 0.9;
}

/* Content */
.content {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.897);
  color: black;
  padding: 40px;
  overflow-y: auto;
}